sample population group sex
PLATE1A1 EUR EUR 0
PLATE1A10 EUR EUR 0
PLATE1A11 EUR EUR 0
PLATE1A12 EUR EUR 0
PLATE1A2 EUR EUR 0
PLATE1A3 EUR EUR 0
PLATE1A4 EUR EUR 0
PLATE1A6 EUR EUR 0
PLATE1A7 EUR EUR 0
PLATE1A8 EUR EUR 0
PLATE1A9 EUR EUR 0
PLATE1B1 EUR EUR 0
PLATE1B10 EUR EUR 0
PLATE1B11 EUR EUR 0
PLATE1B12 EUR EUR 0
PLATE1B2 EUR EUR 0
PLATE1B3 EUR EUR 0
PLATE1B4 EUR EUR 0
PLATE1B5 EUR EUR 0
PLATE1B6 EUR EUR 0
PLATE1B7 EUR EUR 0
PLATE1B8 EUR EUR 0
PLATE1B9 EUR EUR 0
PLATE1C1 EUR EUR 0
PLATE1C10 EUR EUR 0
PLATE1C11 EUR EUR 0
PLATE1C12 EUR EUR 0
PLATE1C2 EUR EUR 0
PLATE1C3 EUR EUR 0
PLATE1C4 EUR EUR 0
PLATE1C6 EUR EUR 0
PLATE1C7 EUR EUR 0
PLATE1C8 EUR EUR 0
PLATE1C9 EUR EUR 0
PLATE1D1 EUR EUR 0
PLATE1D10 EUR EUR 0
PLATE1D11 EUR EUR 0
PLATE1D12 EUR EUR 0
PLATE1D2 EUR EUR 0
PLATE1D3 EUR EUR 0
PLATE1D5 EUR EUR 0
PLATE1D6 EUR EUR 0
PLATE1D7 EUR EUR 0
PLATE1D8 EUR EUR 0
PLATE1D9 EUR EUR 0
PLATE1E10 EUR EUR 0
PLATE1E11 EUR EUR 0
PLATE1E12 EUR EUR 0
PLATE1E2 EUR EUR 0
PLATE1E3 EUR EUR 0
PLATE1E4 EUR EUR 0
PLATE1E5 EUR EUR 0
PLATE1E6 EUR EUR 0
PLATE1E7 EUR EUR 0
PLATE1E8 EUR EUR 0
PLATE1E9 EUR EUR 0
PLATE1F1 EUR EUR 0
PLATE1F10 EUR EUR 0
PLATE1F11 EUR EUR 0
PLATE1F12 EUR EUR 0
PLATE1F2 EUR EUR 0
PLATE1F3 EUR EUR 0
PLATE1F5 EUR EUR 0
PLATE1F6 EUR EUR 0
PLATE1F7 EUR EUR 0
PLATE1F8 EUR EUR 0
PLATE1F9 EUR EUR 0
PLATE1G1 EUR EUR 0
PLATE1G11 EUR EUR 0
PLATE1G12 EUR EUR 0
PLATE1G2 EUR EUR 0
PLATE1G3 EUR EUR 0
PLATE1G4 EUR EUR 0
PLATE1G5 EUR EUR 0
PLATE1G6 EUR EUR 0
PLATE1G7 EUR EUR 0
PLATE1G8 EUR EUR 0
PLATE1G9 EUR EUR 0
PLATE1H1 EUR EUR 0
PLATE1H10 EUR EUR 0
PLATE1H11 EUR EUR 0
PLATE1H2 EUR EUR 0
PLATE1H3 EUR EUR 0
PLATE1H4 EUR EUR 0
PLATE1H5 EUR EUR 0
PLATE1H6 EUR EUR 0
PLATE1H7 EUR EUR 0
PLATE1H8 EUR EUR 0
PLATE1H9 EUR EUR 0
PLATE2A1 EUR EUR 0
PLATE2A10 EUR EUR 0
PLATE2A11 EUR EUR 0
PLATE2A12 EUR EUR 0
PLATE2A2 EUR EUR 0
PLATE2A3 EUR EUR 0
PLATE2A5 EUR EUR 0
PLATE2A6 EUR EUR 0
PLATE2A7 EUR EUR 0
PLATE2A8 EUR EUR 0
PLATE2A9 EUR EUR 0
PLATE2B1 EUR EUR 0
PLATE2B10 EUR EUR 0
PLATE2B11 EUR EUR 0
PLATE2B12 EUR EUR 0
PLATE2B2 EUR EUR 0
PLATE2B3 EUR EUR 0
PLATE2B4 EUR EUR 0
PLATE2B5 EUR EUR 0
PLATE2B6 EUR EUR 0
PLATE2B7 EUR EUR 0
PLATE2B8 EUR EUR 0
PLATE2B9 EUR EUR 0
PLATE2C1 EUR EUR 0
PLATE2C10 EUR EUR 0
PLATE2C11 EUR EUR 0
PLATE2C12 EUR EUR 0
PLATE2C3 EUR EUR 0
PLATE2C4 EUR EUR 0
PLATE2C6 EUR EUR 0
PLATE2C7 EUR EUR 0
PLATE2C8 EUR EUR 0
PLATE2C9 EUR EUR 0
PLATE2D1 EUR EUR 0
PLATE2D11 EUR EUR 0
PLATE2D12 EUR EUR 0
PLATE2D3 EUR EUR 0
PLATE2D4 EUR EUR 0
PLATE2D5 EUR EUR 0
PLATE2D6 EUR EUR 0
PLATE2D7 EUR EUR 0
PLATE2D9 EUR EUR 0
PLATE2E1 EUR EUR 0
PLATE2E10 EUR EUR 0
PLATE2E12 EUR EUR 0
PLATE2E2 EUR EUR 0
PLATE2E3 EUR EUR 0
PLATE2E4 EUR EUR 0
PLATE2E5 EUR EUR 0
PLATE2E6 EUR EUR 0
PLATE2E7 EUR EUR 0
PLATE2E8 EUR EUR 0
PLATE2E9 EUR EUR 0
PLATE2F1 EUR EUR 0
PLATE2F10 EUR EUR 0
PLATE2F11 EUR EUR 0
PLATE2F12 EUR EUR 0
PLATE2F2 EUR EUR 0
PLATE2F3 EUR EUR 0
PLATE2F4 EUR EUR 0
PLATE2F5 EUR EUR 0
PLATE2F6 EUR EUR 0
PLATE2F7 EUR EUR 0
PLATE2F8 EUR EUR 0
PLATE2F9 EUR EUR 0
PLATE2G1 EUR EUR 0
PLATE2G10 EUR EUR 0
PLATE2G11 EUR EUR 0
PLATE2G12 EUR EUR 0
PLATE2G2 EUR EUR 0
PLATE2G3 EUR EUR 0
PLATE2G4 EUR EUR 0
PLATE2G5 EUR EUR 0
PLATE2G6 EUR EUR 0
PLATE2G7 EUR EUR 0
PLATE2G8 EUR EUR 0
PLATE2G9 EUR EUR 0
PLATE2H1 EUR EUR 0
PLATE2H10 EUR EUR 0
PLATE2H11 EUR EUR 0
PLATE2H2 EUR EUR 0
PLATE2H3 EUR EUR 0
PLATE2H4 EUR EUR 0
PLATE2H5 EUR EUR 0
PLATE2H6 EUR EUR 0
PLATE2H7 EUR EUR 0
PLATE2H8 EUR EUR 0
PLATE2H9 EUR EUR 0
PLATE3A1 EUR EUR 0
PLATE3A10 EUR EUR 0
PLATE3A11 EUR EUR 0
PLATE3A12 EUR EUR 0
PLATE3A3 EUR EUR 0
PLATE3A5 EUR EUR 0
PLATE3A6 EUR EUR 0
PLATE3A7 EUR EUR 0
PLATE3A8 EUR EUR 0
PLATE3A9 EUR EUR 0
PLATE3B1 EUR EUR 0
PLATE3B11 EUR EUR 0
PLATE3B12 EUR EUR 0
PLATE3B2 EUR EUR 0
PLATE3B3 EUR EUR 0
PLATE3B4 EUR EUR 0
PLATE3B5 EUR EUR 0
PLATE3B6 EUR EUR 0
PLATE3B7 EUR EUR 0
PLATE3B8 EUR EUR 0
PLATE3B9 EUR EUR 0
PLATE3C1 EUR EUR 0
PLATE3C11 EUR EUR 0
PLATE3C2 EUR EUR 0
PLATE3C3 EUR EUR 0
PLATE3C4 EUR EUR 0
PLATE3C5 EUR EUR 0
PLATE3C6 EUR EUR 0
PLATE3C7 EUR EUR 0
PLATE3C8 EUR EUR 0
PLATE3C9 EUR EUR 0
PLATE3D1 EUR EUR 0
PLATE3D10 EUR EUR 0
PLATE3D11 EUR EUR 0
PLATE3D3 EUR EUR 0
PLATE3D4 EUR EUR 0
PLATE3D7 EUR EUR 0
PLATE3D8 EUR EUR 0
PLATE3D9 EUR EUR 0
PLATE3E1 EUR EUR 0
PLATE3E10 EUR EUR 0
PLATE3E12 EUR EUR 0
PLATE3E2 EUR EUR 0
PLATE3E3 EUR EUR 0
PLATE3E4 EUR EUR 0
PLATE3E6 EUR EUR 0
PLATE3E7 EUR EUR 0
PLATE3E8 EUR EUR 0
PLATE3E9 EUR EUR 0
PLATE3F1 EUR EUR 0
PLATE3F11 EUR EUR 0
PLATE3F12 EUR EUR 0
PLATE3F2 EUR EUR 0
PLATE3F3 EUR EUR 0
PLATE3F4 EUR EUR 0
PLATE3F5 EUR EUR 0
PLATE3F6 EUR EUR 0
PLATE3F7 EUR EUR 0
PLATE3F8 EUR EUR 0
PLATE3F9 EUR EUR 0
PLATE3G10 EUR EUR 0
PLATE3G11 EUR EUR 0
PLATE3G12 EUR EUR 0
PLATE3G2 EUR EUR 0
PLATE3G3 EUR EUR 0
PLATE3G5 EUR EUR 0
PLATE3G6 EUR EUR 0
PLATE3G7 EUR EUR 0
PLATE3G8 EUR EUR 0
PLATE3H10 EUR EUR 0
PLATE3H11 EUR EUR 0
PLATE3H2 EUR EUR 0
PLATE3H3 EUR EUR 0
PLATE3H4 EUR EUR 0
PLATE3H5 EUR EUR 0
PLATE3H6 EUR EUR 0
PLATE3H7 EUR EUR 0
PLATE3H8 EUR EUR 0
PLATE3H9 EUR EUR 0
PLATE4A1 EUR EUR 0
PLATE4A10 EUR EUR 0
PLATE4A11 EUR EUR 0
PLATE4A2 EUR EUR 0
PLATE4A3 EUR EUR 0
PLATE4A4 EUR EUR 0
PLATE4A6 EUR EUR 0
PLATE4A7 EUR EUR 0
PLATE4A8 EUR EUR 0
PLATE4A9 EUR EUR 0
PLATE4B10 EUR EUR 0
PLATE4B11 EUR EUR 0
PLATE4B12 EUR EUR 0
PLATE4B2 EUR EUR 0
PLATE4B3 EUR EUR 0
PLATE4B4 EUR EUR 0
PLATE4B5 EUR EUR 0
PLATE4B6 EUR EUR 0
PLATE4B7 EUR EUR 0
PLATE4B8 EUR EUR 0
PLATE4B9 EUR EUR 0
PLATE4C1 EUR EUR 0
PLATE4C10 EUR EUR 0
PLATE4C11 EUR EUR 0
PLATE4C12 EUR EUR 0
PLATE4C2 EUR EUR 0
PLATE4C3 EUR EUR 0
PLATE4C6 EUR EUR 0
PLATE4C7 EUR EUR 0
PLATE4C8 EUR EUR 0
PLATE4C9 EUR EUR 0
PLATE4D10 EUR EUR 0
PLATE4D11 EUR EUR 0
PLATE4D12 EUR EUR 0
PLATE4D2 EUR EUR 0
PLATE4D5 EUR EUR 0
PLATE4D6 EUR EUR 0
PLATE4D9 EUR EUR 0
PLATE4E1 EUR EUR 0
PLATE4E11 EUR EUR 0
PLATE4E12 EUR EUR 0
PLATE4E2 EUR EUR 0
PLATE4E3 EUR EUR 0
PLATE4E4 EUR EUR 0
PLATE4E5 EUR EUR 0
PLATE4E6 EUR EUR 0
PLATE4E7 EUR EUR 0
PLATE4E8 EUR EUR 0
PLATE4E9 EUR EUR 0
PLATE4F1 EUR EUR 0
PLATE4F10 EUR EUR 0
PLATE4F11 EUR EUR 0
PLATE4F12 EUR EUR 0
PLATE4F2 EUR EUR 0
PLATE4F3 EUR EUR 0
PLATE4F4 EUR EUR 0
PLATE4F5 EUR EUR 0
PLATE4F6 EUR EUR 0
PLATE4F9 EUR EUR 0
PLATE4G1 EUR EUR 0
PLATE4G10 EUR EUR 0
PLATE4G11 EUR EUR 0
PLATE4G12 EUR EUR 0
PLATE4G2 EUR EUR 0
PLATE4G3 EUR EUR 0
PLATE4G4 EUR EUR 0
PLATE4G6 EUR EUR 0
PLATE4G7 EUR EUR 0
PLATE4G8 EUR EUR 0
PLATE4G9 EUR EUR 0
PLATE4H1 EUR EUR 0
PLATE4H10 EUR EUR 0
PLATE4H11 EUR EUR 0
PLATE4H2 EUR EUR 0
PLATE4H3 EUR EUR 0
PLATE4H4 EUR EUR 0
PLATE4H5 EUR EUR 0
PLATE4H6 EUR EUR 0
PLATE4H7 EUR EUR 0
PLATE4H8 EUR EUR 0
PLATE5A1 EUR EUR 0
PLATE5B1 EUR EUR 0
PLATE5B2 EUR EUR 0
PLATE5C1 EUR EUR 0
PLATE5C2 EUR EUR 0
PLATE5D1 EUR EUR 0
PLATE5E1 EUR EUR 0
PLATE5F1 EUR EUR 0
PLATE5F2 EUR EUR 0
PLATE5G2 EUR EUR 0
PLATE5H1 EUR EUR 0
PLATE5H2 EUR EUR 0
